### Welcome to Google Colab!

**Instructions**: Make a copy of this notebook by clicking **File -> Save a copy in Drive**

To run a cell, hit **shift + enter** or click the run button at the top left of each cell

### Data Manipulation with Pandas

**DataFrames** are the primary data structure in pandas. You can think of a DataFrame as a table with rows and columns, or as multiple lists concatenated together (where each list is a column).

Pandas documentation: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

In [2]:
# Imports
import numpy as np
import pandas as pd

np.random.seed(1)

# Create a DataFrame
df = pd.DataFrame({
    "Name":["Alice", "Bob", "Chloe"],
    "Age":[20, 23, 21],
    "FavoriteColor":["Blue", "Red", "Green"]
})

# When you run a cell, the last expression's value is automatically outputted
# This is why df is shown when this cell is run
# To show a DataFrame, you can use display(df)
df

    Name  Age FavoriteColor
0  Alice   20          Blue
1    Bob   23           Red
2  Chloe   21         Green

In [3]:
# TODO 1: Output the dataframe using display
display(df)

    Name  Age FavoriteColor
0  Alice   20          Blue
1    Bob   23           Red
2  Chloe   21         Green

### Filtering By Column

To view a specific column in a dataframe, you can do:

`df["colName"]` or `df.colName`

To view multiple columns:

`df[["col1", "col2"]]` (note the double brackets as this is a list of column names)

In [10]:
# TODO 2a: Select and display only the "Name" column from the dataframe

print(df["Name"])
# TODO 2b: Select and display only the "Name" and "FavoriteColor" columns from the dataframe
df[["Name", "FavoriteColor"]]

0    Alice
1      Bob
2    Chloe
Name: Name, dtype: object

    Name FavoriteColor
0  Alice          Blue
1    Bob           Red
2  Chloe         Green

### Now For A More Complex Dataset!

The dataset includes information on different penguin species.

In [9]:
import seaborn as sns

# Load the Penguins dataset
penguins_df = sns.load_dataset("penguins")

# Display the first 5 rows
display(penguins_df.head(5))

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Some Useful Commands

Pandas has many commands which can help you get a better understanding of a DataFrame. Try out these commands in the cell below and figure out what they do! Make sure you run them on the penguins dataframe (penguins_df).

`df.shape`

`df.columns`

`df.describe()`

`df.corr()`

`df["col1"].unique()`

In [ ]:
# TODO 3: Try out the above commands and use them to answer these questions:
print(penguins_df.shape)

print(penguins_df.columns)

print(penguins_df.describe())

print((penguins_df.drop(columns=["species", "sex", "island"])).corr())

print(penguins_df["species"].unique())


"""
How many rows are in the penguins DataFrame?
What is the mean "bill_length_mm"?
What is the minimum "flipper_length_mm"?
What are the unique values in the "species" column?
What are the unique values in the "island" column?
"""

(344, 7)
Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')
       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000
                   bill_length_mm  bill_depth_mm  flipper_length_mm  \
bill_length_mm           1.000000      -0.235053           0.656181
bill_depth_mm           -0.235053       1.000000          -0.583851
flipper_length_mm        0.656181      -0.583851           1.000000
body_mass_g              0.595110      -0.471916           0.871202

                   body_mass_g
bill_length_mm        0.595110
bill_depth_mm        -0.471916
flipper_length_mm     0.871202
body_mass_g           1.000000
['Adelie' 'Chinstrap' 'Gentoo']

'\nHow many rows are in the penguins DataFrame?\nWhat is the mean "bill_length_mm"?\nWhat is the minimum "flipper_length_mm"?\nWhat are the unique values in the "species" column?\nWhat are the unique values in the "island" column?\n'

### Filtering By Row

In [15]:
# Get all rows where the species is "Adelie"
penguins_df[penguins_df["species"] == "Adelie"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,Female
148,Adelie,Dream,36.0,17.8,195.0,3450.0,Female
149,Adelie,Dream,37.8,18.1,193.0,3750.0,Male
150,Adelie,Dream,36.0,17.1,187.0,3700.0,Female
151,Adelie,Dream,41.5,18.5,201.0,4000.0,Male

In [17]:
# Get all rows where the species is "Adelie" AND the bill length is over 39mm
penguins_df[(penguins_df["species"] == "Adelie") & (penguins_df["bill_length_mm"] > 39)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
...,...,...,...,...,...,...,...
140,Adelie,Dream,40.2,17.1,193.0,3400.0,Female
141,Adelie,Dream,40.6,17.2,187.0,3475.0,Male
143,Adelie,Dream,40.7,17.0,190.0,3725.0,Male
146,Adelie,Dream,39.2,18.6,190.0,4250.0,Male
151,Adelie,Dream,41.5,18.5,201.0,4000.0,Male

In [ ]:
display(penguins_df[(penguins_df["species"] == "Adelie")])

# TODO 4: Answer these questions:
"""
How many entries are there for each penguin species?
How many entries are there for Adelie penguins with a body mass below 3400 grams?
For all penguins with a bill depth above 18, how many are Female and how many are Male?
"""

### Groupby

Groupby is a command which allows you to group data based on one or more columns, then apply an aggregate function.

General form:

`df.groupby("col1")["col2"].aggregateFunction()`

Examples of aggregate functions:

`mean()`, `count()`, `sum()`, `min()`, `max()`

In [ ]:
# Group the dataset by species, then generate the average bill length for each species
penguins_df.groupby("species")["bill_length_mm"].mean()

In [ ]:
# Grouping by multiple columns with multiple aggregations
penguins_df.groupby(["species", "sex"])["bill_length_mm"].agg(["mean", "min", "max"])

In [ ]:
# TODO 5: Answer the below questions:
"""
What is the average body mass for each penguin species?
Which species has the highest average bill depth?
How many entries are there for each species? Hint: count() does not require a "col2" filter.
"""

### Data Visualization With Seaborn

Seaborn is a library for Python data visualization.

Seaborn documentation: https://seaborn.pydata.org/tutorial.html

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()

In [ ]:
# Scatterplot of bill_length_mm vs. bill_depth_mm
sns.scatterplot(data=penguins_df, x="bill_length_mm", y="bill_depth_mm")
plt.title("Bill Length (mm) vs Bill Depth (mm)")
plt.show()

In [ ]:
# Color the points by species and style them by sex
sns.scatterplot(data=penguins_df, x="bill_length_mm", y="bill_depth_mm", hue="species", style="sex")
plt.title("Bill Length (mm) vs Bill Depth (mm)")
plt.show()

In [ ]:
# Histogram of the distribution of flipper length
sns.histplot(penguins_df["flipper_length_mm"], bins=20)
plt.title("Distribution of Flipper Length")
plt.xlabel("Flipper Length (mm)")
plt.ylabel("Count")
plt.show()

### More Visualizations

Go to this link below and scroll down to Plotting functions. Try out some graphs! What conclusions can you draw from them?

https://seaborn.pydata.org/tutorial.html

### Suggestions:

Scatterplot - Flipper Length vs. Body Mass (colored by species): https://seaborn.pydata.org/tutorial/relational.html#relating-variables-with-scatter-plots

Box Plot - Distribution of Body Mass by Species: https://seaborn.pydata.org/generated/seaborn.boxplot.html#seaborn-boxplot

In [ ]:
# TODO 6: Generate at least three more plots! What observations can you make?